* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Playfair Display;
}

.body {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 165px;
}

#nav-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
  padding-top: 16px;
  padding-bottom: 16px;
}

#nav-1 > div {
  display: flex;
  gap: 24px;
  align-items: center;
}

#nav-1 svg {
  width: 16px;
  height: 16px;
}

#nav-1 > div:nth-child(2) button {
  background-color: transparent;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 600;
}

/* navigation */
nav {
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  margin-bottom: 54px;
}

nav img {
  width: 255px;
  height: auto;
}

nav div {
  display: flex;
  gap: 36px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 4px;
}

nav a svg {
  width: 16px;
  height: 16px;
}

/* header */
header {
  position: relative;
  color: white;
  margin-bottom: 80px;
}

header img {
  width: 100%;
  height: auto;
}

#header__coverlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  inset: 0;
}

#header__content {
  position: absolute;
  bottom: 90px;
  left: 0;
}

#header__stats {
  display: flex;
  align-items: center;
  gap: 8px;
}

#header__stats > svg {
  color: black;
  width: 16px;
  height: 16px;
}

#header__desc {
  font-size: 64px;
  max-width: 14ch;
}

.section {
  margin-bottom: 48px;
}

/* popular cateoories */
h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 32px;
  text-transform: capitalize;
}

#category__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 24px;
}

.category img {
  width: 160px;
  height: 160px;
  display: block;
  object-fit: cover;
  margin: 0 auto;
}

.category p {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
}

/* delicious */
#delicious__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 32px;
  column-gap: 24px;
}
.delicious__card {
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  overflow: hidden;
  font-family: inter;
}
.delicious__card__img {
  height: 267px;
}
.delicious__card__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.delicious__card__content {
  padding: 21px 25px 26px;
}
.delicious__rating {
  display: flex;
  align-items: center;
  gap: 5px;
}
.delicious__rating > svg {
  width: 14px;
  height: 14px;
  fill: #ff642f;
  stroke-width: 0;
}
.delicious__title {
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}
.delicious__creator {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 18px;
}
.delicious__creator > img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center;
}

.delicious__creator p {
  font-size: 12px;
}

.delicious__meta {
  display: flex;
  justify-content: end;
  gap: 24px;
  margin-top: 28px;
}

.delicious__meta__entry {
  color: #7f7f7f;
  display: flex;
  align-items: center;
  gap: 4px;
}

.delicious__meta__entry svg,
.delicious__meta__entry img {
  width: 14px;
  height: 14px;
}

.delicious__meta__entry p {
  font-size: 12px;
}

/* curated collections */
#collections__container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.collections__card{
  border: 1px solid #D8D8D8;
  border-radius: 6px;
  overflow: hidden;
  font-family: "Playfair Display";
}

.collections__card__img{
  height: 336px;
}

.collections__card__img > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.collections__card__content{
  padding: 16px 25px 25px;
}

.collections__title > p{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
  line-break: 16ch;
}

.collections__meta{
  width: 123px;
  display: flex;
  justify-content: end;
  border: 1px solid #000;
  border-radius: 3px;
  padding-left: 10px;
  padding-right:21px;
  font-size: 14px;
  font-weight: 300;
  font-family: Inter;
}