* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Playfair Display;
}

.body {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 18px;
}

#nav-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
  padding-top: 16px;
  padding-bottom: 16px;
}

#nav-1 > div {
  display: flex;
  gap: 24px;
  align-items: center;
}

#nav-1 svg {
  width: 16px;
  height: 16px;
}

#nav-1 > div:nth-child(2) button {
  background-color: transparent;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 600;
}

/* navigation */
nav {
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  margin-bottom: 54px;
}

nav img {
  width: 255px;
  height: auto;
}

nav div {
  display: flex;
  gap: 36px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 4px;
}

nav a svg {
  width: 16px;
  height: 16px;
}

/* header */
header {
  position: relative;
  color: white;
  margin-bottom: 80px;
}

header img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

#header__coverlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  inset: 0;
}

#header__content {
  position: absolute;
  bottom: 90px;
  left: 0;
}

#header__stats {
  display: flex;
  align-items: center;
  gap: 8px;
}

#header__stats > svg {
  color: black;
  width: 16px;
  height: 16px;
}

#header__desc {
  font-size: 48px;
  max-width: 14ch;
}

.section {
  margin-bottom: 48px;
}

/* popular cateoories */
h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 32px;
  text-transform: capitalize;
}

#category__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 24px;
}

.category img {
  width: 160px;
  height: 160px;
  display: block;
  object-fit: cover;
  margin: 0 auto;
}

.category p {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
}

/* delicious */
#delicious__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 32px;
  column-gap: 24px;
}
.delicious__card {
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  overflow: hidden;
  font-family: inter;
}
.delicious__card__img {
  height: 267px;
}
.delicious__card__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.delicious__card__content {
  padding: 21px 25px 26px;
}
.delicious__rating {
  display: flex;
  align-items: center;
  gap: 5px;
}
.delicious__rating > svg {
  width: 14px;
  height: 14px;
  fill: #ff642f;
  stroke-width: 0;
}
.delicious__title {
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}
.delicious__creator {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 18px;
}
.delicious__creator > img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center;
}

.delicious__creator p {
  font-size: 12px;
}

.delicious__meta {
  display: flex;
  justify-content: end;
  gap: 24px;
  margin-top: 28px;
}

.delicious__meta__entry {
  color: #7f7f7f;
  display: flex;
  align-items: center;
  gap: 4px;
}

.delicious__meta__entry svg,
.delicious__meta__entry img {
  width: 14px;
  height: 14px;
}

.delicious__meta__entry p {
  font-size: 12px;
}

/* curated collections */
#collections__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 32px;
  column-gap: 24px;
}

.collections__card {
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  overflow: hidden;
  font-family: "Playfair Display";
  display: grid;
  grid-template-rows: 336px 1fr;
}

.collections__card__img {
  height: 100%;
  width: 100%;
}

.collections__card__img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.collections__card__content {
  padding: 16px 25px 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collections__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
  line-break: 16ch;
}

.collections__meta {
  width: 100%;
  display: flex;
  justify-content: end;
}

.collections__meta > p {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 3px 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
}

/* latest recipes */
#recipes__container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 24px;
  row-gap: 48px;
}

.recipes__card {
  font-family: inter;
}

.recipes__card__img {
  height: 196px;
  border-radius: 6px;
  overflow: hidden;
}

.recipes__card__img > img {
  height: 196px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.recipes__card__title {
  font-size: 18px;
  font-weight: 600;
  /* padding: 28px 0; */
  margin-top: 8px;
  margin-right: 86px;
  text-transform: capitalize;
}

#load__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 16px;
  font-family: inter;
  font-weight: 500;
  padding: 9px 49px;
  width: fit-content;
  margin: 72px auto 0;
}

/* newsletter */
.newsletter {
  background: #ffd8ca;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 0;
  margin-bottom: 24px;
}

.newsletter__container {
  max-width: 570px;
  padding: 0 24px;
}

.newsletter__container > h2 {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

.newsletter__container p {
  font-family: inter;
  font-size: 24px;
  margin-top: 16px;
  text-align: center;
}

.newsletter__container > form {
  margin-top: 24px;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr max-content;

  /* position: relative; */
}

.newsletter__container input[type="email"] {
  padding: 24px;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: 0;
  width: 100%;
  /* padding-right: 127px; */
}
.newsletter__container input[type="submit"] {
  padding: 18px 42px;
  background-color: #ff642b;
  font-family: inter;
  font-size: 18px;
  outline: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 0;
  color: #ffffff;

  /* position: absolute;
  right: 0;
  bottom: 0;
  top: 0; */
}

.newsletter__container p.meta {
  font-size: 12px;
  font-family: inter;
  text-align: center;
}

.newsletter__container p.meta a {
  color: black;
}
.newsletter__container p.meta a:hover {
  color: #ff642b;
}

/* footer */
#footer__content {
  background-color: #f9f9f9;
}

/* #footer__content>.body{
  background-color: red;
} */

.content {
  display: flex;
  flex-direction: column;
}

.first {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 36px;
  border-bottom: 1px solid #eceaea;
  padding-bottom: 40px;
  margin-top: 72px;
  /* margin-left: 402px;
  margin-right: 390px; */
}

.img__text {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.img__text > img {
  width: 160px;
  height: auto;
  background-color: #f9f9f9;
  margin-bottom: 16px;
}

.img__text > p {
  max-width: 376px;
  font-family: inter;
  font-size: 16px;
  line-height: 24px;
  color: #7f7f7f;
}

.second {
  display: flex;
  justify-content: start;
  /* flex-direction: column; */
  align-items: center;
  flex-wrap: wrap;
  gap: 48px;
}

.list__title {
  font-size: 14px;
  font-family: inter;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.lists ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.lists ul li {
  list-style-type: none;
  text-transform: capitalize;
  font-family: inter;
  font-size: 14px;
  color: #7f7f7f;
}

.third {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  margin: 28px 0;
}

#copyright {
  color: #7f7f7f;
  font-size: 12px;
  font-family: inter;
}

.social__media__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.social__media__icons svg {
  color: #7f7f7f;
  width: 14px;
  height: 14px;
}

@media only screen and (min-width: 600px) {
  .body {
    padding: 0 20px;
  }

  #delicious__container {
    grid-template-columns: repeat(2, 1fr);
  }

  #recipes__container {
    grid-template-columns: repeat(2, 1fr);
  }

  #collections__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .newsletter__container > h2 {
    font-size: 76px;
  }

  .first {
    align-items: start;
  }

  .second {
    flex-direction: row;
    gap: 128px;
  }

  .third {
    flex-direction: row;
    justify-content: space-between;
    gap: 36px;
  }

  .social__media__icons svg {
    width: 18px;
    height: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .body {
    padding: 0 48px;
  }
  #header__desc {
    font-size: 64px;
  }
  #recipes__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .first {
    flex-direction: row;
  }
  .second {
    flex-wrap: nowrap;
    gap: 72px;
  }
}

@media only screen and (min-width: 1200px) {
  .body {
    padding: 0 165px;
  }
  header img {
    width: 100%;
    height: auto;
  }
  #recipes__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .second {
    flex-wrap: nowrap;
    gap: 128px;
  }
}
